body {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        ". main ."
        "footer footer footer";
}

.home {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "header header"
        "main aside"
        "footer footer";
}


/* Navigation Style */
.main-nav {
    /* From https://css.glass */
    background: rgba(199, 198, 203, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(199, 198, 203, 0.2);
}

.main-nav a {
    border-bottom: 2px solid transparent;
    transition: 0.3s;

}

.main-nav a:hover {
    font-size: 1.2em;
    color: rgb(0, 17, 255);
    margin-top: -5px;
}


.main-nav>ul>li {
    position: relative;
}

.main-nav ul ul {
    position: absolute;
    display: block;
    justify-content: center;
    background-color: #197BBD;
    padding: 0;
    opacity: 0;
    width: 200px;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    text-align: center;
    top: 25px;
    right: 50%;
    transform: translateX(50%);
}

.main-nav>ul>li:hover ul {
    opacity: 1;
    pointer-events: auto;
}

.main-nav ul ul li:hover {
    background-color: red;

}

.main-nav ul ul li a:hover {
    color: white;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


form > div > div:nth-child(2) > label {
    padding: 0;
}

#email {
    padding: 10px;
    margin-left: 9px;
}
main {
    margin: 1em;
}

p.text,
p.intro {
    margin-left: 3em;
}

h1.intro {
    margin-left: 2em;
}

.button {
    margin-left: 3em;
}

aside img {
    margin-left: 4em;
}

/* Project page Style */
.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    column-gap: 1.5em;
    row-gap: 2em;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-top: 1em;

}


/* .project div:nth-child(2),
.project div:nth-child(3) {
    background: #151E3F;
}

.project div:nth-child(1),
.project div:nth-child(4) {
    background: #1F487E;
}

.my-projects:nth-child(1):hover .content,
.my-projects:nth-child(4):hover .content {
    background: #1F487E;
}

.my-projects:nth-child(2):hover .content,
.my-projects:nth-child(3):hover .content {
    background: #151E3F;
} */

.project div {
    /* From https://css.glass */
    background: rgba(145, 141, 141, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(145, 141, 141, 0.3);
}


aside img {
    width: 50%;
    height: 50%;
}

.my-projects {
    border: 1px solid black;
    height: 350px;
    width: 350px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.my-projects img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.my-projects:hover img {
    transform: translateY(-100%);
}

.project-title {
    text-align: center;
    margin-bottom: 0.5em;

}

.content {
    text-align: center;
    padding: 20px 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    
}

.content a {
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid blue;
    display: block;
    padding: 10px;
    background: white;
    margin-top: 2em;
}

.my-projects:hover .content {
    transform: translateY(0);
}

.content p {
    padding: 0;
    margin: 0.5em 0;
}