@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body {
    background: black;
	background-size: 400% 400%;
	height: 100%;
    color: #fff;
    overflow-x: hidden;
}

.home {
    
    background: black;
	background-size: 400% 400%;
	height: 100%;
    color: #fff;
    overflow-x: hidden;
}

span{
    color: aqua;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main h1 {
    font-family: "Poppins";
    font-weight: 700;
    text-shadow: 3px 3px 3px #7D8CC4;

}

.intro {
    font-weight: bold;
    padding: 0;
    margin: 10px;
}

/* Navigation Style */
.main-nav { 
    grid-area: nav;
    padding: 1em;
    align-items: center;
    /* css-box-shadow-examples
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background: linear-gradient(-45deg, #273E47, #313E50, #455561, #3A405A); */
    
}


.main-nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    
}

.main-nav a{
    text-decoration: none;
    font-family: "Work Sans";
    /* color: #D1D5DE; */
    color: white;
    
}

aside {
    grid-area: aside;
    padding: 0;
    align-items: center;
}

main {
    grid-area: main;
}

/* Footer Style */

footer {
    grid-area: footer;
    padding: 1em;
    align-items: center;
    margin-top: 3em;
    background: rgba(199, 198, 203, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(199, 198, 203, 0.2);
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 3vw;
    background: none;
    box-shadow: none;
    font-size: 15px;
    margin-top: 1em;
    
}

.footer-nav a{
    text-decoration: none;
    font-family: "Work Sans";
    color: #D1D5DE;
}

.footer-nav a:hover{
    transform: none;
    font-size: 15px;
    transition: none;
    text-decoration: underline;
}


footer p{
    text-align: center;
    font-size: 15px;
    margin-top: 1em;
}

footer div{
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 13px;
    background: none;
}

footer a{
    color: white;
}

footer div a:hover{
    color: #3A405A;
}

/* Header Style */
header{
    grid-area: header;
    font-family: "Poppins";
    font-weight: 800;
    text-align: center;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 10px;
}


/* Styling Projects */
.project div{
    /*css-box-shadow-examples*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 1em;
    text-align: center;
    
}

.project img{
    width: 75%;
    height: auto;
}

.project h2{
    margin-bottom: 0.5em;
    color: white;
}

.project p{
    margin-bottom: 1em;
    text-align: left;
    color: white;
}

/* Styling contact page */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.contact h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1em;
}

.contact form{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border-radius: 1.2em;
    background: rgba(199, 198, 203, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(199, 198, 203, 0.2);

}

.contact label{
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.contact-details label{
    width: auto;
}


.contact textarea{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    height: 15vh;
}


.button-group {
    display: flex;

}
.button, .skill a{
    display: block;
    border: 1px solid white;
    color: white;
    background: #224870;
    margin-top: 3em;
    border-radius: 10px;
    font-size: 15px;
    padding: 0.25em;
    text-align: center;
    width: 20%;
    text-decoration: none;
}

.skill a {
    margin-left: auto;
    margin-right: auto;
}

.button:hover{
    background: #4169E1;
    cursor: pointer;
    color: black;
}

input[type="submit"]:hover{
    border: 2px solid #111D4A;
}


.slider-container {
    position: relative;
    width: 50%;
    max-width: 800px;
    margin-top: 3em;
    margin-left: 2em;
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    width: 400%;
    animation: slide 20s infinite;
}

.slider img {
    width: 25%;
    flex-shrink: 0;
}

/* Pure CSS Gradient Background Animation*/

@keyframes slide {
    0% {transform: translateX(0);}
    20% {transform: translateX(0);}
    25% {transform: translateX(-25%);}
    45% {transform: translateX(-25%);}
    50% {transform: translateX(-50%);}
    70% {transform: translateX(-50%);}
    75% {transform: translateX(-75%);}
    95% {transform: translateX(-75%);}
    100% {transform: translateX(0);}
}

.view-all-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.skills-container .skill {
    flex: 1 1 30em;
    padding: 3em 2em 4em;
    border-radius: 2em;
    transition: 0.5s ease;
    background: rgba(199, 198, 203, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(199, 198, 203, 0.2);

}

.skill i {
    font-size: 5em;
    color: #0ef;
    display: flex;
    justify-content: center;
}

.skill h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.skills-container .skill:hover {
    border-color: #0ef;
    transform: scale(1.02);
}