body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    height: 100vh;
}

.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    height: 100vh;
}

header {
    padding: 1em;
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 70vh;
    width: 70vw;
    display: block;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in-out;
    padding: 0;
    background: #313E50;
    z-index: 1;
}

#clicked:target .main-nav {
    transform: translate(0, 0);
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.main-nav ul li {
    font-size: 25px;
    border-bottom: 3px solid black;
}

.main-nav ul ul {
    display: none;
}

.main-nav a {
    position: relative;
    left: 15px;
    bottom: 12px;
}

body:target .main-nav {
    display: block;
    background: #313E50;
    z-index: 1;
}


body .on {
    display: block;
}

body .off {
    display: none;
}

body:target .on {
    display: none;
}

body:target .off {
    display: block;
}

.showNav {
    display: flex;
    width: 1.25em;
    height: 0.8em;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    margin-left: 1em;
}

.showNav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    /*make it right to make nav on right side*/
    margin-top: 1em;
    width: 1em;
    height: 1em;
    z-index: 2;

}

.main-nav ul li:nth-child(odd) {
    padding-top: 1em;

}

.main-nav ul li:nth-child(even) {
    padding-top: 1em;
    background: #202C39;
}

.contact form {
    width: 90vw;
    height: auto;
}

.contact-details {
    display: flex;
    flex-direction: column;

}


.contact h2 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 1em;
}

#email, #phone_number {
    margin-left: 7px;
}


.project {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.my-projects:nth-child(even) {
    background: #151E3F;
}

.my-projects:nth-child(odd) {
    background: #1F487E;
}

.my-projects:nth-child(even) .content {
    background: #1F487E;
}

.my-projects:nth-child(odd) .content {
    background: #151E3F;
}

.button {
    width: 30%;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 50%;
    height: 100%;
}

.text,
.intro {
    margin-left: 1em;
}


.skill a {
    width: 40%;
}

.content a {
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid blue;
    display: block;
    padding: 10px;
    background: white;
    margin-top: 2em;
}